@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #26333d;
}

header {
    background-color: #26333d;
    height: 100px;
    width: 100%;
}

.Layout-grid {
    height: 100%;
    width: 100%;
    max-width: 992px;
    /*border: 3px solid white;*/
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 350px;
    height: 100%;

    color: white;
    font-size: small;
    font-family: "Montserrat", sans-serif;



}

header nav a {
    color: white;
    text-decoration: none;
}

/*------------------------------------------------Header--------------------------------------------------*/
/*-------------------------------------Section 1 = BibliotecFlex------------------------------------------*/
.bibliotec-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

}

main {
    background-color: white;
    width: 100%;
    height: 100%;
}

hr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border: 3px solid aqua;
    border-radius: 4px;
    margin-bottom: 40px;

}

.Articule {
    height: 400px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    margin-top: 70px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10%;
    font-size: large;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);



}

article h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    width: 100%;
    font-family: "Montserrat", sans-serif;

}

article p {
    font-family: "Montserrat", sans-serif;
}

div h1 {
    font-family: "Montserrat", sans-serif;
}

article h1 {
    font-family: "Montserrat", sans-serif;
}



.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.Circulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-top: -120px;
    border: 4px solid aqua;
    background-color: white;
}

/*----------------------------------------------------Section 2 = Top Livros----------------------------------------------------*/
.Books-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

}

.Livros {

    /* width: 120px; */
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */
    background-color: rgb(255, 255, 255);

    font-size: small;
}

.Livros img {
    width: 200px;
    /* height: 200px; */
}

.Livros h2 {
    margin-top: 3px;
    font-size: medium;
    font-family: "Montserrat", sans-serif;
}

.Livros h3 {
    margin-top: 2px;
    font-family: "Montserrat", sans-serif;
}

/**----------------------------------------------------Section 2 = Top Livros----------------------------------------------------*/

.footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #26333d;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;
}

.Fotos {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 60px;
    margin-bottom: 3px solid white;
}










/*article*/
/*h1*/
/*margin top*/
/*section*/